<boby>

  <% if flash[:notice] %>
   <p id="notice">
    <%= flash[:notice] %>
   </p>
 <% end %>

  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>

  <from class="edit_book">

   <%= form_with model: @book do |f| %>

  <div class="field">

  <ladel for="book_field">Title</ladel>
   <%= f.text_field :title %>

  </div>

  <div class="field">

  <ladel for="book_field">Body</ladel>
   <%= f.text_area :body %>

  </div>

  <div class="actions">

   <%= f.submit 'Update Book' %>

   <% end %>

  </div>

  </from>

 <td><%= link_to "Show", book_path(@book) %></td>
  |
 <td><%= link_to "Back", books_path(@book) %></td>

 </body>