<boby>

  <% if flash[:notice] %>
   <p id="notice">
    <%= flash[:notice] %>
   </p>
 <% end %>

  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
  <!--下追加-->
    <div id="error_explanation">
  <!--<%= @book.errors.count %>件のエラーが発生しました-->
  <!--下追加-->
      <h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
  <!--下追加-->
    </div>
  <% end %>

  <from class="edit_book">

   <%= form_with model: @book do |f| %>

  <div class="field">

  <!--<ladel for="book_field">Title</ladel>-->
  <div><%= f.label :Title %></div>
  <div><%= f.text_field :title %></div>

  </div>

  <div class="field">

  <!--<ladel for="book_field">Body</ladel>-->
  <div><%= f.label :Body %></div>
  <div><%= f.text_area :body %></div>

  </div>

  <div class="actions">

   <%= f.submit 'Update Book' %>

   <% end %>

  </div>

  </from>

 <td><%= link_to "Show", book_path(@book) %></td>
  |
 <td><%= link_to "Back", books_path %></td>

 </body>