<body>

  <!----下追加--->
  <% if flash[:alert] %>
      <p class="notice"><%= alert %></p>
  <% end %>
  <!----下追加--->

<h1>Books</h1>

<table>
  <thead>
    <tr>

      <th>Title</th>

      <th>Body</th>

    </tr>
  </thead>

  <tbody>

    <% @books.each do |book| %>

    <tr>

    <td><%= book.title %></td>
    <td><%= book.body %></td>

    <td><%= link_to "Show", book_path(book) %></td>
    <td><%= link_to "Edit", edit_book_path(book) %></td>
    <td><%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %></td>

    </tr>
    <% end %>

  </tbody>
</table>

<h2>New book</h2>

<% if @book.errors.any? %>
<!----<下追加>--->
　<div id="error_explanation">
　  <!--<下追加>-->
　  <h2><%= @book.errors.count %> error prohibited this book from being saved:　</h2>
  <!--<%= @book.errors.count %>件のエラーが発生しました-->
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <!--<下追加>-->
  </div>
<% end %>

<%= form_with model: @book do |f| %>

<div class="field">

  <!--<ladel for="book_title">Title</ladel>-->
  <div><%= f.label :Title %></div>
  <div><%= f.text_field :title %></div>

</div>

<div class="field">

  <!--<ladel for="book_body">Body</ladel>-->
  <div><%= f.label :Body %></div>
  <div><%= f.text_area :body %></div>

</div>

<div class="action">
  <%= f.submit 'Create Book' %>
</div>

<% end %>

</body>